table{
    border:none
}
#table2 th,#table2 td{
border-color:black;
border-radius:20px 0px 20px 0px;
padding:20px;
text-align: center;

}
.table1 th,.table1 td{

width: 20%;
border-color:rgb(172, 21, 21);
border-radius:20px;
padding:20px;
text-align: center;

}