table {
  width: 100%;
  border-collapse: collapse;
  
}

th {
  background-color: #009879; 
  color: white;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #645f5f70;
}
